@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: 'poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    height: auto;
}
body {
    background-color: rgb(14, 13, 13);
    color: white;
}
.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; 
}
h2 {
    margin-left: 40px;
}

/* ~ Conf. Geral ~ */
#screenMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 97%;
    height: 100px;
    background-color: rgb(14, 13, 13);
}

#screenBurguer {
    display: flex;
    justify-content: center;

    width: 45vw;
    padding: 10px;

    background-color: #1342a0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.screenTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2b2b2b;

    margin: 30px auto;
    padding: 5px;
    width: 90vw; 
    position: relative;  
}
#bordaMenu {
    position: absolute;
    top: 5%;
    left: 20%;
    transform: translate(-40%, -36%);

    overflow: hidden;
    border-radius: 20px;
}

main h1 {
    padding: 10px;
}

.emoji {
    margin: 0px 7px 11px 0;
}

#barraLateralS {
    display: flex;
    margin: 5px;
    border-top: 3px solid #0554F2;
    border-left: 3px solid #0554F2;
}

#barraLateralS2 {
    display: flex;
    font-size: 25px;
    margin: 5px;
    justify-content: flex-end;
    border-right: 3px solid #0554F2;
    border-bottom: 3px solid #0554F2;
}

#barraLateralP {
    display: flex;
    margin: 5px;
    border-top: 3px solid #f1b504;
    border-left: 3px solid #f1b504;
}

#barraLateralP2 {
    overflow: hidden;
    display: flex;
    font-size: 25px;
    margin: 5px;
    justify-content: flex-end;
    border-right: 3px solid #f1b504;
    border-bottom: 3px solid #f1b504;
}

#barraLateralF {
    display: flex;
    margin: 5px;
    border-top: 3px solid #e44134;
    border-left: 3px solid #e44134;
}

#barraLateralF2 {
    display: flex;
    font-size: 25px;
    margin: 5px;
    justify-content: flex-end;
    border-right: 3px solid #e44134;
    border-bottom: 3px solid #e44134;
}

.paragrafo {
    display: flex;
    flex-direction: column;

    margin: 5px;

    text-align: justify;
    text-indent: 30px;
    margin: 4px 20px;
}

/* ~ Dark mod ~ */
#checkboxInput {
    display: none;
}

.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
    border: .2px solid rgb(255, 255, 255);
}

.toggleSwitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: white;
    border-radius: 50%;
    transition-duration: .2s;
    box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.308);
    border: 5px solid #2b2b2b;
}

#checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: #2b2b2b;
    border: 5px solid rgb(255, 255, 255);
}

/* Switch background change */
#checkboxInput:checked+.toggleSwitch {
    background-color: #2b2b2b;
    transition-duration: .2s;
}

/* ~ Burguer animation ~ */
#burguer {
    position: relative;
    background-color: #1342a0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 60px;
}

a#burguer span {
    position: absolute;
    width: 100%;
    height: 4px;

    background-color: white;
    transition: 0.2s all ease;
}

/* Está é a posição em que deixamos nossos 'traços em branco' parecido ao menu burguer */
a#burguer span:nth-child(1) {
    transform: translateY(-10px);
}

a#burguer span:nth-child(2) {
    transform: translateY(10px);
}

/* Está é a a posição que faz ao passar o mouse emcima :hover */
a#burguer:hover span:nth-child(1) {
    transform: translateY(-15px);
}

a#burguer:hover span:nth-child(2) {
    transform: translateY(15px);
}

/* Quando se está clicado no burguer ele meio que sobe um pouco até desaparecer pois tem opacity 0  */
a#burguer.active span:nth-child(1) {
    transform: translateY(-30px);
    opacity: 0;
}

a#burguer.active span:nth-child(2) {
    transform: translateY(30px);
    opacity: 0;
}

/* Rotação para fazer um X */
a#burguer.active span:nth-child(3),
a#burguer:active span:nth-child(4) {
    transform: rotate(0deg);

}

a#burguer.active span:nth-child(3) {
    transform: rotate(-45deg);

}

a#burguer.active span:nth-child(4) {
    transform: rotate(45deg);

}

/* ~ Menu element ~ */
#menu {
    display: none;
    position: relative;
    left: 50%;
    transform: translate(-46%, 2%);
    white-space: nowrap;
}
#menu2 {
    display: none;
}
#itensMenu li {
    list-style-type: none;
    position: relative;
    background-color: #2b2b2b;
    width: 40vw;
    border-radius: 20px;
    overflow: hidden;
    margin: 5px 0px;
}

ul#itensMenu li a {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;

    padding: 10px 26%;
    border-radius: 20px;
    position: relative;
    z-index: 1;

    color: white;
    text-decoration: none;
}

ul#itensMenu li a:hover {
    overflow: hidden;
}

#itensMenu li:hover::before {
    border-radius: 0px 50px 50px 0px;
    width: 110%;
}

#itensMenu li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: #2b2b2b;
    transition: .6s all ease-in-out;
}

#itensMenu li:nth-child(1)::before {
    background-color: #0554F2;
}

#itensMenu li:nth-child(2)::before {
    background-color: #f1b504;
}

#itensMenu li:nth-child(3)::before {
    background-color: #e44134;
}

#itensMenu li:nth-child(4)::before {
    background-color: #38c45d;
}

/* Perfil */
#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
}

#perfil ul li {
    margin: -50px;
}

#fotoPerfil {
    width: 250px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-46%, 60%);
}
/* ~ Texto Dinamico ~ */
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    white-space: nowrap;
    margin: 60px auto;

    position: relative;
    top: 0;
    left: 46%;
    transform: translate(-46%, 130px);
}

#wrapper #estatico {
    font-size: 18.5px;
}

#wrapper #dinamico li {
    list-style: none;
    font-size: 17px;

    white-space: nowrap;
    overflow: hidden;
    width: 30ch;
    border-right: 2px solid;

    animation: typing 3.5s steps(30), blinking 1s infinite step-end;

    transform: translate(0, 50px);
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}
/* contatos perfil */
.redes-sociais {
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(15%, -100%);

    width: 300px;
    margin-left: -200px;
    margin-top: 311px;
    border-radius: 80px;
}

.redes-sociais span {
    width: 200px;
    line-height: 80px;
    display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    pointer-events: none;
}

.redes-sociais nav {
    font-size: 0;
}

.redes-sociais a {
    line-height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(180deg, #1342a0, #80A6F2);

    opacity: 1;
    transition: all .3s ease-in-out;
    margin: 0 -5px;
}

.redes-sociais a:nth-child(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
}

.redes-sociais a:nth-child(1):hover {
    background: #171515;
}

.redes-sociais a:nth-child(2):hover {
    background: #0077b5;
}

.redes-sociais a:nth-child(3):hover {
    background: #25D366;
}

.redes-sociais a:nth-child(3) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
}

.redes-sociais:hover span, .redes-sociais.hover span {
    opacity: 0;
}

.redes-sociais:hover a {
    margin: 0 10px;
    color: #413838;
    font-size: 40px;
    border-radius: 50%;
    background-color: #ffffff15;
    box-shadow: 0 20px 25px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.redes-sociais:hover a:hover {
    color: white;
}

/* ~ Projetos ~ */
#linkPortfolio {
    text-decoration: none;
}
.content {  
    height: 540px;
    overflow: hidden;   
    position: relative;
        
}
.content::before {
    content: '';
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 75px;
    background: linear-gradient(to bottom, transparent, #2b2b2b 70%);
    
}
section.screenTexto.maisProjetos .content {
    height: auto;
}
section.screenTexto.maisProjetos .content::before {
    visibility: hidden;
}
#verMais {
    border: none;
    width: 50%;
    margin: 10px 22vw;    
    padding: 5px 25px;
    border-radius: 5px;
    font-weight: bolder;
    background-color: #ecb91e;
    color: #2b2b2b;
    cursor: pointer;
    font-size: 18px;
    transition: all .39s ease-in-out;
}
#verMais:hover {
    background-color: transparent;
    color: #ecb91e;

    transition: all .39s ease-in-out;
}
.img-port {
    margin: 8px 10px;
    width: 100%;
    max-width: 300px;
    height: 450px;
    background-color: #0554F2;
    background-size: cover;
    background-position: 100% 0%;
    border-radius: 30px;
    transition: 7s;
    cursor: pointer;
}
.img-port  h2 {
    margin: 10px;
    text-align: center;
}
.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;
    top: 0;
    left: 0;
    font-weight: 500;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
    transition: 1.5s;
}

.overlay h2 {
    margin-top: 10px;
    font-size: 40px;
}

#pOverlay {
    display: block;
    margin: 0px 20px;

    text-align: justify;
}

.iconOverlay {
    margin: 0px 0px 0px 0px;
    font-size: 60px;
    text-align: center;
}

.tecn {
    font-size: 20px;
    text-align: center;
}
/* ~ Formação ~ */
.paragrafoF {
    margin: 0px 40px 20px 60px;
}
.idioma {
    justify-content: space-around;
}
ul li {
    list-style-type: none;
    text-align: center;
}
#bandeira-brasil { 
    width: 80px;
    margin: 0px 10px;
}
#bandeira-espanha {
    width: 80px;
    margin: 0px 10px;
}
/* ~ footer ~ */
footer {
    background-color: #2b2b2b;
    margin: 100px 0px 0px 0px;
    padding: 2px;
    text-align: justify;
}

footer h1 {
    margin: 0px 0px 15px 0px;
    text-align: center;
}

#paragrafoF {
    margin: 20px 20px 15px 20px;
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 1px 20px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 5px;

}

footer a:hover {
    text-decoration: underline;
}

.copyrightText {
    margin-top: 4px;
    padding: 5px;
    text-align: center;
    background-color: #2b2b2b;
}